body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 204, 62);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 60vw;
    border: solid 2px black;
    border-radius: 5px;
}

.pad {
    flex: 1 0 24%;
    border: solid 1px gray;
    border-radius: 2px;
}

.fill-color {
    background-color: black;
}

.button-div {
    display: flex;
    justify-content: center;
}

.button-div > button {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: rgb(255, 166, 0);
    color: white;
    border:solid 5px rgb(211, 137, 0);
    border-radius: 15px;

}